main{
    
    display: flex;
    flex-direction: column;

}

.titre_apropos {
    width: 100%;
    border-top: 2px solid black;
    max-height: 700px;
    object-fit: cover;
    object-position: 90% 70%;

}

.titre_text_apropos{
   
    position: absolute;
    top:30%;
    left:10%;
    display: flex;
    flex-direction: row;
    width: 40%;
    border: 3px solid brown;
    background-color: #D8BD8A;
    border-radius: 100px 100px 100px 100px ;
    flex-wrap: wrap;
   

}
.titre_text_apropos img {
    padding: 10px;
    max-width  : 30%;
    
    clip-path: ellipse(45% 45%) ;
    object-fit:fill;
 
}

.blabla_titre_apropos{
    margin: 15px;
    width: 60%;
}

.titre_text_apropos h1{
    margin: 0px;
    
}


.recette_apropos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.titre_recette{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 30%;
}
#triangle-down {
    width: 0px;
    height: 0px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 50px solid rgb(12, 12, 12);
    
}

.la_mamie{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgb(241, 148, 148);
    position:absolute;
    top: 800px;
    right: 20px;
}

.la_mamie img{
    width: 100%;
    height: auto;
    border-image-source: url(/images/image_apropos/)
}

