main {
    padding: 20px 10px 20px 10px;
    background-color: var(--couleur2);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: first baseline;
    gap: 10px;
}

.item {
    border-color: var(--couleur3);
    border: 5px solid var(--couleur3);
    border-radius: 7px;
    margin-bottom: 10px;
    background-color: #493039f5;
}

.store {
    background-color: #523c44;
    width: 80%;
    border-radius: 20px;
    padding: 15px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.info {
    padding: 3px;
    color: var(--couleur3);
    font-size: 1em;
}

.info-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.stock {
    color: #ff0000bf ;
}

.item-image {
    height: 300px;
    width: 300px;
}

.item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.filters {
    background-color: #523c44;
    border-radius: 20px;
    padding: 15px;
}

.filters label {
    color: var(--couleur3);
}

.filters span {
    color: var(--couleur3);
    font-size: 1.5em;
    font-weight: bold;
    margin: 15px 0px 10px 5px;
}

.search input {
    background-color: #523c44;
    height: 1.3em;
    width: 90%;
    margin-bottom: 3px;
    font-size: 1.1em;
    border-color: var(--couleur3);
    border-style: solid;
    border-radius: 5px;
}

.prix {
    background-color: #523c44;
    height: 1.1em;
    width: 50px;
    margin-bottom: 3px;
    font-size: 1.1em;
    border-color: var(--couleur3);
    border-style: solid;
    border-radius: 5px;
}

::placeholder {
    color: var(--couleur3);
}

#valider {
    width: 90%;
    height: 2em;
    font-size: 1.2em;
    color: var(--couleur3);
    background-color: var(--couleur2);
    border: 3px solid var(--couleur3);
    border-radius: 5px;
}

#valider:hover {
    color: var(--couleur2);
    background-color: var(--couleur3);
}

@media only screen and (max-width: 720px) {
    main {
        flex-direction: column-reverse;
    }

    .filters {
        width: 80%;
    }
    
    .info {
        padding: 3px;
        color: var(--couleur3);
        font-size: 0.55em;
    }

    .item-image {
        height: 150px;
        width: 150px;
    }
}