#font_index{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--couleur2);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#bestseller{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

#bestseller div{
    width: 240px;
    height: 240px;
    background-color: #523c44;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#bestseller div img{
    width: 200px;
    height: 200px;
    padding: 10px;
    transition: transform .1s;
}

#bestseller div:hover{
    transform: scale(1.1);
    border: solid;
}

.titre{
    width: 90%;
    border: solid;
    border-radius: 20px;
    text-align: center;
    background-color: #523c44;
    color: white;
}

#Tprincipal{
    font-size: 3em;
}

.Tsecondaire{
    font-size: 2em;
}