#sousnav{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#sousnav a{
    color: black;
}

#font_index{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--couleur2);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container_index{
    background-color: #523c44;
    width: 80%;
    height: 1000px;
    border-radius: 20px;
}

#bestseller{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#bestseller div{
    width: 240px;
    height: 240px;
    background-color: #523c44;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#bestseller div img{
    width: 200px;
    height: 200px;
    padding: 10px;
    transition: transform .1s;
}

#bestseller div:hover{
    transform: scale(1.1);
    border: solid;
}