body {
    margin: 0;
}
.texte{
    background-color: rgb(243, 243, 243);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    border-radius: 10px;
    width: 500px;
}
#mario{
    width: 10%;
    height: 10%;
    border-radius: 5px;
}