body {
    margin: 0;
}
.texte{
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    float: center;
    border: 2px solid grey;
    border-radius: 10px;
    width: 50%;
}
#mario{
    width: 10%;
    height: 10%;
    border: 1px solid black;
    border-radius: 5px;
}