body {
    margin: 0;
}
.texte{
    background-color: rgb(245, 245, 245);
    margin: 3% 3%;
    border: 2px solid grey;
    border-radius: 10px;
    width: 55%;
    float: left;
}
#mario{
    width: 200px;
    height: 200px;
    padding: 1px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px 15px 20px 20px;
}
.image1_cote_texte{
    display: flex;
}
.image1_cote_texte img{
    order: 1;
}
.image1_cote_texte .description{
    order: 2;
}
#quantite{
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    text-align: center;
    padding: 10px;
    width: 3em;
    height: 1em;
}
.label_quantite{
    display: flex;
}
#quantite_label{
    font-size: 1.5em;
}
.princesse_peach{
    font-size: 0.8em;
    color:rgb(218, 155, 165);
}
#chaussons_chiens{
    width: 200px;
    height: 200px;
    padding: 1px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px 15px 20px 20px;
}
.griffes_chiens{
    font-size: 0.8em;
    color:rgb(82, 168, 194);
}
.image2_cote_texte{
    display: flex;
}
.image2_cote_texte img{
    order: 1;
}
.image2_cote_texte .description{
    order: 2;
}
.bon_achat{
    background-color: rgb(245, 245, 245);
    margin: 3% 3% 0px 0px;
    border: 2px solid grey;
    border-radius: 10px;
    width: 35%;
    float: right;
}
#code_label{
    font-size: 1.5em;
    display: inline-block;
}
#code{
    justify-content: center;
    height: 2em;
    width: 65%;
    margin: 1% 1%;
    font-size: 1.5em;
}
::placeholder{
    font-size: 1em;
}
#submit{
    height: 2em;
    float: right;
    margin: 1%;
    font-size: 1.5em;
    color: #D8BD8A;
    border: 1px solid #D8BD8A;
    border-radius: 5px;
    background-color: white;
}
.payer{
    background-color: rgb(245, 245, 245);
    margin: 3% 3% 0px 0px;
    border: 2px solid grey;
    border-radius: 10px;
    width: 35%;
    float: right;
}
#titre_payer{
    text-align: center;
}
.texte_droit{
    font-size: 2em;
    color: red;
}
.texte_droit b{
    text-decoration: line-through red;
    color: black;
}
#chausson_bestherelle{
    width: 200px;
    height: 200px;
    padding: 1px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px 15px 20px 20px;
}
.image3_cote_texte{
    display: flex;
}
.image3_cote_texte img{
    order: 1;
}
.image3_cote_texte .description{
    order: 2;
}
.bestherelle{
    font-size: 0.8em;
    color:rgb(85, 187, 85);
}
.paiement{
    margin-left: 50px;
    margin-top: 15px;
    margin-right: 50px;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
}
hr{
    margin-right: 50px;
    margin-left: 50px;
}
#info{
    width: 20px;
    height: 20px;
}
.livraison{
    margin-left: 50px;
    margin-top: 15px;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
}
.livraison img{
    width: 25px;
    height: 25px;
    margin-right: 50px;
}
.effet{
    opacity: 0;
    position: absolute;
}   
.point_info:hover .effet{
    opacity: 1;
    font-size: 0.5em;
    height: auto;
    background-color: var(--couleur1);
    border: 1px solid black;
    width: 20%;
    position: absolute;
    right: 100px;
}
.effet p{
    margin-left: 10px;
    margin-right: 10px;
}
.bouton_paiement{
    display: flex;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;
}
#button{
    background-color: var(--couleur2);
    color: var(--couleur3);
    font-size: 2em;
    width: 100%;
    height: 2em;
}
.credit_card{
    margin-left: 50px;
    margin-top: 15px;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
}
.logo_carte_credit{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 50px;
}
.logo_carte_credit img{
    width: 70px;
    height: 50px;
    border: 1px solid gray;
}
#retour_boutique{
    text-decoration: none;
    color: var(--couleur2);
}
.question{
    background-color: rgb(245, 245, 245);
    margin: 3% 3% 0px 0px;
    border: 2px solid grey;
    border-radius: 10px;
    width: 35%;
    height: 3em;
    float: right;
    text-align: center;
    font-size: 1.2em;
}
.question a{
    text-decoration: none;
    color: var(--couleur2);
}
@media(max-width: 1170px){
    #submit{
        float: left;
    }
    .paiement{
        font-size: 1em;
    }
    .livraison{
        font-size: 1em;
    }
}
@media(max-width: 950px){
    .texte_droit{
        font-size: 1em;
    }
}
@media(max-width: 810px){
    .image1_cote_texte{
        display: flex;
        flex-direction: column;
    }
    .image2_cote_texte{
        display: flex;
        flex-direction: column;
    }
    .image3_cote_texte{
        display: flex;
        flex-direction: column;
    }
    .texte{
        display: flex;
        flex-direction: column;
    }
    .tout_texte{
        display: flex;
        justify-content: center;
    }
    .description{
        margin-left: 15px;
    }
    .tout_payer{
        display: flex;
        justify-content: center;
    }
    .bon_achat{
        display: flex;
        justify-content: center;
    }

}