html{
    --couleur1: #D8BD8A;
    --couleur2: #785964;
    --couleur3: #B6B6B6;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--couleur2);
}

header{
    background-color: var(--couleur1);
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
}
header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
    font-size: 25px;
}

header nav ul li a {
    text-decoration: none;
}

header nav ul li a.current-page {
    color: var(--couleur2);
}

header #panier {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    margin-top: 5px;
    height: 55px;
    width: auto;
}

@media only screen and (max-width: 720px) {
    .nav-container {
        flex-direction: column;
    }

    header nav ul li {
        display: block;
    } 


}